.header {
  color: white;
  background: #290000 center center;
  background-size: cover;
  border-top: 5px solid $extraColor;
  padding-bottom: 3rem;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
  }
}

.logo {
  font-size: 2.333rem;
  display: flex;
  flex-direction: column;

  & span {
    font-size: 0.916rem;
    color: $mainColor;
  }
}

.menu {
  & ul {
    display: flex;
    list-style: none;

    & li {
      border-radius: 1rem;
      transition: background-color 0.3s;
      margin-left: 1rem;

      &:hover {
        background-color: $extraColor;
      }
    }
  }

  &__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.08rem;
    padding: 1rem 1.2rem;
  }
}

.header-slider {
  &__item {
    padding: 0 5rem;

    .item-left {
      max-width: 30rem;

      & h2 {
        font-size: 3.83rem;
        font-weight: 300;
      }

      & p {
        color: $mainColor;
        line-height: 19px;
        margin: 2rem 0rem;
      }
    }
    .item-right {
      max-width: calc(380px + 4rem);
      width: 100%;
      border-radius: 100%;
      border: 2rem solid #656565;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .slick-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.slick-prev,
.slick-next {
  z-index: 100;
  &::before {
    content: "";
  }
  background-size: cover;
  width: 15px;
  height: 27px;
}

.slick-prev {
  left: 0%;
  background-image: url(../img/LeftArrow.png);
  &:hover {
    background-image: url(../img/LeftArrow.png);
  }
}
.slick-next {
  right: 0%;
  background-image: url(../img/RightArrow.png);
  &:hover {
    background-image: url(../img/RightArrow.png);
  }
}
